RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=my_vhost
RABBITMQ_MAX_RETRIES=5
RABBITMQ_RETRY_DELAY=3
RABBITMQ_QUEUE_NAME=tasks_queue
RABBITMQ_EXCHANGE_NAME=direct_exchange
RABBITMQ_EXCHANGE_TYPE=direct
RABBITMQ_ROUTING_KEY=event_key